body {
  background-image: url(https://c4.wallpaperflare.com/wallpaper/742/259/702/piggy-coins-pig-piggy-bank-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: 100vh 100vw;
  background-position: center;
  margin: 0;
  background-attachment: fixed;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50vh;
}
.bank {
  display: flex;
  justify-content: start;
  font-size: large;
  margin-right: 30px;
  flex-direction: column;
  color: rgb(147, 126, 4);
  height: 25vh;
  align-content: end;
  flex-wrap: wrap;
}
.bankImg {
  border-radius: 70%;
  width: 100px;
}

.button:hover {
  background: linear-gradient(135deg, #de2a7b, #ff6f61);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}
.dollar-sign {
  transition: transform 0.2s;
}

.dollar-sign:hover {
  transform: scale(1.1);
}

.dollar-sign {
  background-size: cover;
  padding: 10px;
  border-radius: 5px;
}
.title1 {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 50px;
}
.upgrade {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  align-items: space-between;
  flex-wrap: wrap;
}
.upgrade1 {
  display: flex;
  justify-content: space-around;
}
.upgrade-point-button {
  font-size: 1.5rem; /* Adjust as needed */
  color: #42ac57; /* Text color */
  background-color: #0a0a0a; /* Background color */
  border: none; /* Remove default border */
  border-radius: 8px; /* Rounded corners */
  padding: 10px 20px; /* Adjust padding for size */
  cursor: pointer; /* Change cursor to pointer */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transitions */
}
